@using Sequential2013.WebUI.Infrastructure
@model WebComicVModel
@{
   string NextPage = Convert.ToString(Model.PageNumber + 1);
   int prev = Model.PageNumber - 1;
   if (prev < 1) {
      prev = 1;
   }
   string PrevPage = Convert.ToString(prev);
   string ImagePath = "~/content/comics/Eden/" + @Model.FileName() + ".jpg";
}
<div id="comic">
   <div id="slot1" class="slot">
      <img width="800" height="480" src="@Url.Content(@ImagePath)"/>
   </div>
</div>
<nav id="pageNav">
            @Ajax.ActionLink(" ", "TurnPage",
                new {
                   comic = @Model.BookName,
                   chapter = @Model.ChapterNumber,
                   page = @PrevPage
                },
                new AjaxOptions
                {
                   UpdateTargetId = "main",
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET"
                },
                new {
                   @class="leftArrow"
                })
            <div id="pageCounter">@Model.PageNumber of 23</div>
            @Ajax.ActionLink(" ", "TurnPage",
                new {
                   comic = @Model.BookName,
                   chapter = @Model.ChapterNumber,
                   page = @NextPage
                },
                new AjaxOptions
                {
                   UpdateTargetId = "main",
                   InsertionMode = InsertionMode.Replace,
                   HttpMethod = "GET"
                },
                new {
                   @class="rightArrow"
                })
</nav>
